## Sintel Trailer ##
# Raw stuff
Video/Clips/SintelTrailer/sintel_trailer-1080-png.tar.gz
Video/Clips/SintelTrailer/1080*
Video/Clips/SintelTrailer/sintel_trailer-audio.flac
# Full Trailer Builds
Video/Clips/SintelTrailer/sintel_trailer.y4m
Video/Clips/SintelTrailer/sintel_trailer-408p-x264_slow2p-1200k-faac-192k.mp4
Video/Clips/SintelTrailer/sintel_trailer-408p-mpeg4-mp3.mp4
# Clip Builds
Video/Clips/SintelTrailer/sintel_clip.flac
Video/Clips/SintelTrailer/sintel_clip.y4m
Video/Clips/SintelTrailer/sintel_clip-x264-lossless-flac.mkv
Video/Clips/SintelTrailer/sintel_clip-408p.y4m
Video/Clips/SintelTrailer/sintel_clip-408p-mpeg4-mp3.mp4
Video/Clips/SintelTrailer/sintel_constant_demo/*
Video/Clips/SintelTrailer/sintel_good/*
Video/Clips/SintelTrailer/sintel_perfect/*
Video/Clips/SintelTrailer/sintel_rate_demo/*
Video/Clips/SintelTrailer/sintel_small_good/*
Video/Clips/SintelTrailer/sintel_small_perfect/*
# Frame Rate
Video/Clips/SintelTrailer/sintel_clip-408p-mpeg4-30fps.mkv
Video/Clips/SintelTrailer/sintel_clip-408p-mpeg4-5fps.mkv

## Big Buck Bunny ##
# Base
Video/Clips/BigBuckBunny/big_buck_bunny_480p_h264.mov
Video/Clips/BigBuckBunny/big_buck_bunny_480p_stereo.ogg
Video/Clips/BigBuckBunny/big_buck_bunny_1080p_h264.mov
Video/Clips/BigBuckBunny/BigBuckBunny-DVDMaster-5_1-FLAC.zip
Video/Clips/BigBuckBunny/BigBuckBunny-stereo.flac
Video/Clips/BigBuckBunny/freestylemix_-_hisboyelroy_-_Revolve.mp3

# Compositing Clips
Video/Clips/BigBuckBunny/Intro.mkv
Video/Clips/BigBuckBunny/BunnyPrep.mkv
Video/Clips/BigBuckBunny/BunnyRelax.mkv
Video/Clips/BigBuckBunny/RedSquirrel.mkv
Video/Clips/BigBuckBunny/GraySquirrel.mkv
Video/Clips/BigBuckBunny/FlyingSquirrel.mkv

## Other ##
Video/Clips/GreenScreenSample.mp4
Video/Clips/winter_clouds.mpg

